<h2>Bonnie Denis, Boston Adaptive Climbing Coordinator</h2>

info@bostonadaptiveclimbing.com

Link to BKBS website

Link to Central Rock website

Link to NYC Adaptive Climbing website

Link to Paradox Sports

Link to Facebook Group

